<div class="card shadow mb-4">
    <div class="card-header">
      Category
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">genral (2)</li>
            <li class="list-group-item">R&D (6)</li>
            <li class="list-group-item">Technology (3)</li>
            <li class="list-group-item">Business (5)</li>
            <li class="list-group-item">Lifestyle (1)</li>
          </ul>
    </div>
  </div>
<div class="card shadow">
    <div class="card-header">
      Featured
    </div>
    <div class="card-body">
      <!-- First post -->
      <div class="card mb-2" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://source.unsplash.com/user/erondu/120x100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Title here</h5>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
            <!-- second post -->
            <div class="card mb-2" style="max-width: 100%;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://source.unsplash.com/user/erondu/120x100" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Title here</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
              </div>
            </div>
                  <!-- thired post -->
      <div class="card mb-2" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://source.unsplash.com/user/erondu/120x100" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Title here</h5>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>